In [1]:
import sys
# for local development
RT_LIBS_PATH = "/Users/alex/Dev_projects/MyOwnRepo/rt_libs/src"
BA_LIBS_PATH = "/Users/alex/Dev_projects/MyOwnRepo/basic_application/src"
sys.path.append(RT_LIBS_PATH)
sys.path.append(BA_LIBS_PATH)

ALIAS = "test"

In [2]:
import time
import json
import cProfile, pstats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
path = "/Users/alex/Dev_projects/RT/model_train/datasets/rt5/11.BTC_USDT-60.csv"
dataset = pd.read_csv(path, index_col='ts')
dataset.head()

,dt,lowest_ask,highest_bid,asks,bids,buy_vol,sell_vol,total_vol,buy_num,sell_num,total_num
ts,,,,,,,,,,,
1679140919,2023-03-18 15:01:59,27466.400,27460.682,"{'27466.40': 0.153, '27469.06': 0.580783, '274...","{'27460.68': 0.006333, '27452.30': 0.000136, '...",0.000000,0.007066,0.007066,0,4,4
1679140979,2023-03-18 15:02:59,27452.092,27445.960,"{'27452.09': 0.580783, '27452.10': 0.153, '274...","{'27445.96': 0.045239, '27445.95': 0.000216, '...",0.007053,0.066226,0.073279,3,8,11
1679141039,2023-03-18 15:03:59,27440.050,27434.871,"{'27440.05': 0.026, '27440.06': 0.14, '27440.4...","{'27434.87': 0.000187, '27434.86': 0.000861, '...",0.010176,0.005139,0.015315,2,8,10
1679141099,2023-03-18 15:04:59,27434.600,27420.580,"{'27434.60': 0.589256, '27434.63': 0.2, '27435...","{'27420.58': 0.100016, '27415.10': 0.153, '274...",0.003643,0.010995,0.014638,3,1,4
1679141159,2023-03-18 15:05:59,27426.172,27412.771,"{'27426.17': 0.589256, '27430.19': 0.2, '27430...","{'27412.77': 0.14387, '27412.76': 0.101108, '2...",0.002593,0.000000,0.002593,1,0,1

In [4]:
asks_current_raw = dataset.loc[1679140979, "asks"]
bids_current_raw = dataset.loc[1679140979, "bids"]

asks_prev_raw = dataset.loc[1679140919, "asks"]
bids_prev_raw = dataset.loc[1679140919, "bids"]
bids_prev_raw

"{'27460.68': 0.006333, '27452.30': 0.000136, '27449.82': 0.082548, '27445.96': 0.045245, '27445.95': 0.000216, '27443.85': 0.019372, '27440.89': 0.911049, '27434.86': 0.001093, '27434.62': 0.000181, '27434.00': 0.146, '27429.80': 0.296, '27423.91': 0.03, '27414.70': 0.458, '27413.80': 0.66, '27408.81': 0.4, '27394.10': 0.46, '27384.33': 0.010392, '27381.70': 0.67, '27369.80': 1.0, '27366.51': 0.033712, '27357.38': 1.502, '27258.70': 0.058642, '27246.13': 1.518, '27211.42': 2.0, '27188.52': 0.34103, '27185.02': 5.3e-05, '27144.00': 0.1775, '27127.54': 6.5e-05, '27124.91': 0.616, '27116.00': 0.0001, '27081.00': 0.014219, '27055.01': 0.001859, '27055.00': 0.147896, '27026.20': 0.00086, '27000.00': 0.018949, '26998.06': 0.088473, '26995.00': 3.883604, '26990.00': 0.5, '26987.04': 0.343576, '26964.04': 0.003924, '26959.07': 0.5, '26950.00': 0.197393, '26947.34': 0.005276, '26928.88': 6.3e-05, '26918.00': 5e-05, '26900.00': 2.231258, '26882.52': 0.000873, '26850.97': 0.000187, '26850.00': 0.264171, '26800.00': 0.003606, '26787.04': 0.346142, '26738.84': 0.000887, '26736.26': 0.295, '26680.00': 0.5, '26679.13': 0.0058, '26673.36': 0.003967, '26648.00': 6e-05, '26616.50': 0.000377, '26600.01': 0.001317, '26600.00': 0.11951, '26595.15': 0.0009, '26588.53': 0.348726, '26536.07': 0.015895, '26531.39': 0.135045, '26512.00': 0.000751, '26500.00': 0.032074, '26478.18': 0.306, '26469.10': 0.011825, '26451.47': 0.000914, '26413.60': 0.006376, '26401.16': 0.001, '26400.00': 0.001, '26394.41': 0.05773, '26391.49': 0.351329, '26385.82': 0.00401, '26384.09': 6e-05, '26382.00': 7e-05, '26372.39': 0.000192, '26365.85': 0.247099, '26307.79': 0.000929, '26300.00': 0.539022, '26290.67': 0.00031, '26250.00': 0.09118, '26200.00': 0.001, '26195.90': 0.353953, '26171.40': 0.003763, '26164.11': 0.000943, '26150.70': 0.007009, '26150.00': 0.009416, '26130.00': 5e-05, '26118.00': 8e-05, '26101.38': 0.004054, '26100.00': 0.001, '26020.42': 0.000958, '26001.77': 0.356595, '26001.00': 0.043769, '26000.00': 0.095861, '25991.90': 0.043733, '25925.00': 0.000771, '25924.30': 0.024802, '25900.00': 0.001, '25895.49': 0.013061, '25891.00': 0.00311, '25890.42': 0.007705, '25879.01': 0.203366, '25876.74': 0.000973, '25870.00': 5e-05, '25868.00': 6e-05, '25857.00': 9e-05, '25831.37': 0.208057, '25820.00': 0.004098, '25809.08': 0.359258, '25800.26': 0.525224, '25800.00': 0.001, '25733.06': 0.000988, '25700.00': 0.003988, '25685.80': 0.072726, '25617.81': 0.36194, '25611.00': 6e-05, '25610.00': 7e-05, '25600.00': 0.044085, '25598.00': 0.0001, '25590.00': 5e-05, '25589.37': 0.001003, '25541.65': 0.004143, '25512.00': 0.000782, '25500.00': 0.169584, '25487.17': 0.027017, '25473.17': 0.030207, '25471.12': 0.002146, '25464.21': 0.48056, '25450.00': 0.005405, '25427.97': 0.364642, '25401.61': 0.000298, '25400.00': 0.90689, '25391.00': 0.003112, '25382.18': 0.01568, '25380.00': 0.064571, '25375.00': 0.016015, '25355.00': 8e-05, '25353.00': 8e-05, '25350.00': 5e-05, '25342.00': 0.00014, '25334.00': 9e-05, '25333.00': 0.058038, '25300.00': 0.001198, '25266.31': 0.004188, '25239.53': 0.367364, '25202.81': 0.029768, '25200.00': 0.001}"

In [5]:
asks_current = json.loads(dataset.loc[1679140979, "asks"].replace("\'", "\""))
bids_current = json.loads(dataset.loc[1679140979, "bids"].replace("\'", "\""))

asks_prev = json.loads(dataset.loc[1679140919, "asks"].replace("\'", "\""))
bids_prev = json.loads(dataset.loc[1679140919, "bids"].replace("\'", "\""))

In [21]:
class Orderbook:
    def __init__(self, asks, bids):
        self.asks = json.loads(asks.replace("\'", "\""))
        self.bids = json.loads(bids.replace("\'", "\""))
        
    def get_rates(self):
        lowest_ask = np.min(np.array(list(map(float, self.asks.keys()))))
        highest_bid = np.max(np.array(list(map(float, self.bids.keys()))))
        return lowest_ask, highest_bid
    
    def _extract_data(self, data):
        return np.array(list(map(float, data)))
    
    def get_volumes(self, level, lowest_ask=None, highest_bid=None): 
        if lowest_ask is None:
            lowest_ask = self.lowest_ask
            
        if highest_bid is None:
            highest_bid = self.highest_bid
        
        keys_asks = self._extract_data(self.asks.keys())
        vols_asks = self._extract_data(self.asks.values())
        
        keys_bids = self._extract_data(self.bids.keys())
        vols_bids = self._extract_data(self.bids.values())

        mask_ask = keys_asks < lowest_ask * (1 + level)
        ask_vol = sum(vols_asks[mask_ask])

        mask_bid = keys_bids > highest_bid * (1 - level)
        bid_vol = sum(vols_bids[mask_bid])

        return ask_vol, bid_vol

In [91]:
dataset.index

Int64Index([1679140919, 1679140979, 1679141039, 1679141099, 1679141159,
            1679141219, 1679141279, 1679141339, 1679141399, 1679141459,
            ...
            1681536419, 1681536479, 1681536539, 1681536599, 1681536659,
            1681536719, 1681536779, 1681536839, 1681536899, 1681536959],
           dtype='int64', name='ts', length=39882)

In [13]:
asks_col = dataset.columns.tolist().index("asks")
bids_col = dataset.columns.tolist().index("bids")
asks_vol_diff = [0,]
bids_vol_diff = [0,]

level = 0.01
for i in range(dataset.shape[0] - 1):
    ob_current = Orderbook(dataset.iloc[i, asks_col], dataset.iloc[i, bids_col])
    ob_previous = Orderbook(dataset.iloc[i-1, asks_col], dataset.iloc[i-1, bids_col])
    
    lowest_ask, highest_bid = ob_previous.get_rates()
    
    ask_vol_prev, bid_vol_prev = ob_previous.get_volumes(level, lowest_ask, highest_bid)
    ask_vol_curr, bid_vol_curr = ob_current.get_volumes(level, lowest_ask, highest_bid)
    
    asks_vol_diff.append(ask_vol_curr - ask_vol_prev)
    bids_vol_diff.append(bid_vol_curr - bid_vol_prev)

    
dataset[f"asks_{level}"] = asks_vol_diff
dataset[f"asks_{level}"] = bids_vol_diff
dataset[f"asks_{level}_diff"] = bids_vol_diff-asks_vol_diff

KeyboardInterrupt

In [14]:
i = 1
level = 0.01
asks_col = dataset.columns.tolist().index("asks")
bids_col = dataset.columns.tolist().index("bids")

ob_previous = Orderbook(dataset.iloc[i-1, asks_col], dataset.iloc[i-1, bids_col])
ob_current = Orderbook(dataset.iloc[i, asks_col], dataset.iloc[i, bids_col])

    
    
lowest_ask, highest_bid = ob_current.get_rates()

ask_vol_prev, bid_vol_prev = ob_previous.get_volumes(level, lowest_ask, highest_bid)


ask_vol_curr, bid_vol_curr = ob_current.get_volumes(level, lowest_ask, highest_bid)


print(ask_vol_curr - ask_vol_prev)
print(bid_vol_curr - bid_vol_prev)

-1.6611769999999986
-1.203747

In [15]:
%timeit ask_vol_curr, bid_vol_curr = ob_current.get_volumes(level, lowest_ask, highest_bid)

100 µs ± 1.33 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [19]:
dataset["bids_"] = dataset["bids"].apply(lambda x: json.loads(x.replace("\'", "\"")))